@charset "utf-8";
/*////////////////////////////////////////////////////

	フォント・文字サイズ設定

////////////////////////////////////////////////////*/

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:Extra-Light);

html {
	font-size: 62.5%;
}
body {
	/*font size自動調整をきる*/
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: 'dnp-shuei-gothic-kin-std', sans-serif,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka;
	@include fz($fSize);
	line-height: 1.6;
	color: $fontColor01;
	letter-spacing: 0.1em;

	@include media(spS){
		@include fz($fSizeS);
	}
}

.en {
	font-family:'Raleway';
}