@charset "utf-8";
/*////////////////////////////////////////////////////

	その他の汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	デバイスごとの表示切り分け
	例： <br class="pc">
------------------------------------------------ */
.pc {
	@include media(sp){
		display: none;
	}
}
.sp {
	@include media(pc){
		display: none;
	}
}

/* ------------------------------------------------
	color
------------------------------------------------ */

/* ------------------------------------------------
	囲み枠
------------------------------------------------ */
.enclosure01 {
}

/* ------------------------------------------------
	画像スタイル
------------------------------------------------ */
.img_style01 {
	
}

/* ------------------------------------------------
	タブ
------------------------------------------------ */
.tab01 {
	
}
/* ------------------------------------------------
	スペース
------------------------------------------------ */
.space-topXL{
	margin-top:80px;
	@include media(sp){
		margin-top:40px;
	}
}