@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用スタイルパターン（レイアウトセット参照）
		ここでは_layout.scssなどで用意したレイアウトパターンに適用する
		スタイルのバリエーション(背景色や背景画像、ボーダー、シャドウなど)を継承クラスとして指定してください。
		例：
			.wrapper01,
			.wrapper02 {
				&.style01 {

				}
				&.style02 {

				}
			}

////////////////////////////////////////////////////*/

.ico-circle{
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;/* 50%でもOK */
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: $baseColor01;/* 円の色 */
}