@charset "utf-8";
/*////////////////////////////////////////////////////

	テキスト、見出しの汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	テキスト
------------------------------------------------ */

.txt{
  font-size:var(--fSizeS);
  margin-bottom:20px;
}

.txt-cap{
  font-size:var(--fSizeSS);
  margin-top:10px;
  color:var(--font-color02);
}

.box-tit01{
  font-size:var(--fSizeL);
  margin-bottom:20px;
}

.box-tit02{
  font-size:var(--fSizeR);
  margin-bottom:10px;
}

.box-tit03{
  font-size:var(--fSize);
  margin-bottom:10px;
}

//　強調
.txt-em01 {
  font-weight: bold;
}
.txt-em02 {
  background: linear-gradient(transparent 70%, #ffe79d 40%);
}
// リード
.txt-lead01 {
}

.txt-color01{
  color:$themaColor01;
}

.txt-small {
  @include fz($fSizeXXXXS);
  &.type01 {
    display:inline-block;
    line-height: 2.3rem;
  }
}



/* ------------------------------------------------
	見出し
------------------------------------------------ */
.local-title{
  line-height: 1.6;
  font-weight:bold;
  font-size:var(--Enfont);
  color: $fontColor01;
  letter-spacing:0.15em;
  position:relative;
  width:100%;
  font-family: quicksand;
  // &:before{
  //   content: "";
  //   display:inline-block;
  //   position:absolute;
  //   background-color:$baseColor04;
  //   height:1px;
  //   width:10%;
  //   bottom:-4px;
  //   left: 0;
  // }
  // &:after{
  //   content: "";
  //   display:inline-block;
  //   position:absolute;
  //   background-color:$baseColor05;
  //   height:1px;
  //   width:90%;
  //   bottom:-4px;
  //   left: 10%;
  // }
  @include media(sp){
    font-size:var(--fSizeL);
    margin-top:30px;
  }
}


.list-tit{
  line-height: 1.6;
  font-weight:bold;
  font-size:var(--Enfont);
  color: $fontColor01;
  letter-spacing:0.15em;
  position:relative;
  width:100%;
  font-family: quicksand;
  border-bottom:1px solid var(--border-color03);
  // &:before{
  //   content: "";
  //   display:inline-block;
  //   position:absolute;
  //   background-color:$baseColor04;
  //   height:1px;
  //   width:10%;
  //   bottom:-4px;
  //   left: 0;
  // }
  // &:after{
  //   content: "";
  //   display:inline-block;
  //   position:absolute;
  //   background-color:$baseColor05;
  //   height:1px;
  //   width:90%;
  //   bottom:-4px;
  //   left: 10%;
  // }
  @include media(sp){
    font-size:var(--fSizeL);
    margin-top:30px;
  }

}



.title02{
  line-height: 1.6;
  font-weight:lighter;
  @include fz($EnfSizeM);
  color: $fontColor01;
  letter-spacing:0.15em;
  margin-bottom:20px;
  margin-top:60px;
  font-weight:bold;
  @include media(sp){
    @include fz($fSizeM);
    margin-top:30px;
    margin-bottom:10px;
  }
}

.title03{
  line-height: 1.6;
  font-weight:lighter;
  @include fz($fSizeLL);
  color: $fontColor01;
  letter-spacing:0.15em;
  margin-bottom:20px;
  margin-top:60px;
  font-weight:bold;
  @include media(sp){
    @include fz($fSize);
    margin-top:30px;
    margin-bottom:10px;
  }
}


.sim-tit{
  font-size:var(--fSizeM);
  margin-bottom:20px;
  font-weight:normal;
}
.f-tit{
  font-size:var(--fSizeS);
  @include media(sp){
    font-size:var(--fSizeS);
  }
}


